/*
 * header.css
 */
#rowNav .nav-title {
  font-weight:700;
  font-size:1.35rem;
  margin-bottom:2rem;
  height:30px;
  color:var(--medium-grey);
}
#rowNav .nav-title-active {
  color:var(--primary-blue);
}
#rowNav .nav-title-complete {
  color:var(--black);
}
#appInfoLead {
  font-weight:300;
  font-size:1.063rem;
  margin:2.5rem 0 1rem 0;
}
